<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文章管理</title>
    <link rel="stylesheet" href="stylesheets/base.css">
    <link rel="stylesheet" href="stylesheets/public.css">
    <link rel="stylesheet" href="stylesheets/article_manage.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <nav class="clearfix">
        <div class="logo"><img src="images/yearlogo2.png" alt=""></div>
        <div class="user">
            <i class="fa fa-user-circle-o"></i> &nbsp;
            <span>username</span>
            <div class="operating hide">
                <ul>
                    <li class="personal-center">个人中心</li>
                    <li class="writeblog">写博客</li>
                    <li>退出登录</li>
                </ul>
            </div>
        </div>
        <!-- <div class="write"><i class="fa fa-pencil-square-o"></i>写博客</div> -->
    </nav>
<div class="container clearfix">
    <div class="left">
        <ul>
            <li value="1">写博客</li>
            <li value="2" class="active">文章管理</li>
            <li value="3">评论管理</li>
            <li value="4">资源管理</li>
        </ul>
    </div>
    <div class="right">
        <div class="write-blog box1 hide">
            <input type="text" placeholder="请输入标题" id="article-title">
            <textarea name="article" id="article" cols="30" rows="10"></textarea>
            <div>
                <button class="article-submit">提交</button>
                <button class="in-draft">放入草稿箱</button>
            </div>
        </div>
        <div class="manage-blog box2 show">
            <p class="box-title">文章管理</p>
            <div class="manage clearfix">
                <p class="p1 word-active" value="list-all">全部(<span class="all-article">0</span>)</p>
                <p class="p1" value="list-posted">已发表(<span class="posted">0</span>)</p>
                <p class="p1" value="list-drafts">草稿箱(<span class="drafts">0</span>)</p>
                <p class="p1" value="list-recycle">回收站(<span class="recyble-bin">0</span>)</p>
                <div class="int"><input type="text"><i class="fa fa-search searchIcon"></i></div>
            </div>
            <!--文章管理下四个标题所对应的盒子-->
            <div class="box">
                <div class="list-all show">
                    <table class="article-table" cellspacing="0" id="allarticletable">
                        <tr>
                            <th>标题</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </table>
                </div>
                <div class="list-posted hide">
                    <table class="article-table" cellspacing="0" id="postedarticletable">
                        <tr>
                            <th>标题</th>
                            <th>操作</th>
                        </tr>
                    </table>
                </div>
                <div class="list-drafts hide">
                    <table class="article-table" cellspacing="0" id="draftsarticletable">
                        <tr>
                            <th>标题</th>
                            <th>操作</th>
                        </tr>
                    </table>
                </div>
                <div class="list-recycle hide">
                    <table class="article-table" cellspacing="0" id="recyclearticletable">
                        <tr>
                            <th>标题</th>
                            <th>操作</th>
                        </tr>
                    </table>
                </div>
            </div>
            <!--文章管理四个盒子结束-->
        </div>

        <div class="manage-comment box3 hide">
            <p class="box-title">评论管理</p>
            <div class="manage clearfix">
                <p class="p1 word-active" value="article-comment">我文章的评论</p>
                <p class="p1" value="my-comment">我发表的评论</p>
            </div>
            <!--评论管理下两个盒子-->
            <div class="box">
                <div class="article-comment show">
                    <ul>
                        <li>1</li>
                    </ul>
                </div>
                <div class="my-comment hide">
                    <ul>
                        <li>2</li>
                    </ul>
                </div>
            </div>
            <!--评论管理下两个盒子结束-->
        </div>

        <div class="manage-source box4 hide">
            <p class="box-title">资源管理</p>
            <div class="manage clearfix">
                <p class="p1 word-active" value="collect-source">我收藏的资源</p>
                <p class="p1" value="posted-source">我发布的资源</p>
                <p class="p1" value="download-source">我下载的资源</p>
            </div>
            <!--资源管理下3个盒子-->
            <div class="box">
                <div class="collect-source show">
                    <ul>
                        <li>1</li>
                    </ul>
                </div>
                <div class="posted-source hide">
                    <ul>
                        <li>2</li>
                    </ul>
                </div>
                <div class="download-source hide">
                    <ul>
                        <li>3</li>
                    </ul>
                </div>
            </div>
            <!--资源管理下3个盒子结束-->
        </div>
    </div>
</div>

    <script src="javascripts/plugins/jquery-1.11.1.min.js"></script>
    <script src="javascripts/public.js"></script>
    <script src="javascripts/article_management.js"></script>
</body>
</html>