<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>文章标题</title>
    <link rel="stylesheet" href="stylesheets/base.css">
    <link rel="stylesheet" href="stylesheets/public.css">
    <link rel="stylesheet" href="stylesheets/articlepage.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <nav></nav>
    <div class="container clearfix">
        <div class="right">
            <div class="collect-comment">
                <div class="c-c">
                    <i class="fa fa-bookmark-o" value="true"></i>
                    
                </div>
                <div class="c-c">
                    <i class="fa fa-commenting-o" value="false"></i>
                    
                </div>
            </div>
            <div class="title">
                <h1></h1>
                <p></p>
            </div>
            <div class="content">
                
            </div>
            <div class="comment">
                <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
                <button class="issue">发布评论</button>
                <div class="com">
                    <div class="com-list">
                        <ul>
                            <li>good!</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="left">
            <p>这里放用户</p>
        </div>
    </div>
    <script src="javascripts/plugins/jquery-1.11.1.min.js"></script>
    <script src="javascripts/public.js"></script>
    <script src="javascripts/articlepage.js"></script>
</body>

</html>