<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>文章标题</title>
    <link rel="stylesheet" href="stylesheets/base.css">
    <link rel="stylesheet" href="stylesheets/public.css">
    <link rel="stylesheet" href="stylesheets/articlepage.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <nav>
        <div class="logo"><img src="images/yearlogo2.png" alt=""></div>
        <div class="user">
            <i class="fa fa-user-circle-o"></i> &nbsp;
            <span>username</span>
            <div class="operating hide">
                <ul>
                    <li class="personal-center">个人中心</li>
                    <li class="writeblog">写博客</li>
                    <li>退出登录</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container clearfix">
        <div class="right">
            <div class="collect-comment">
                <div class="c-c">
                    <i class="fa fa-bookmark-o" value="true"></i>
                    
                </div>
                <div class="c-c">
                    <i class="fa fa-commenting-o" value="false"></i>
                    
                </div>
            </div>
            <div class="title">
                <h1></h1>
                <p></p>
            </div>
            <div class="content">
                
            </div>
            <div class="comment">
                <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
                <button class="issue">发布评论</button>
                <div class="com">
                    <div class="com-list">
                        <ul>
                            <!--<li class="clearfix">-->
                                <!--<div class="replyC clearfix">-->
                                    <!--<div class="replyA">-->
                                        <!--<span class="name">admin:</span>-->
                                        <!--<span class="con">good!</span>-->
                                    <!--</div>-->
                                    <!--<div class="replyB"><i class="fa fa-commenting-o"></i> 回复</div>-->
                                <!--</div>-->
                                <!--<div class="time">时间：2017.1</div>-->
                            <!--</li>-->
                            <!--<li>shift!</li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="left">
            <div class="avatar">

            </div>
            <div class="name"></div>
            <p class="attention" value="0">加关注</p>
        </div>
    </div>
    <script src="javascripts/plugins/jquery-1.11.1.min.js"></script>
    <script src="javascripts/public.js"></script>
    <script src="javascripts/articlepage.js"></script>
</body>

</html>