<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>文章标题</title>
    <link rel="stylesheet" href="../public/stylesheets/base.css">
    <link rel="stylesheet" href="../public/stylesheets/public.css">
    <link rel="stylesheet" href="../public/stylesheets/articlepage.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <nav></nav>
    <div class="container clearfix">
        <div class="right">
            <div class="collect-comment">
                <div class="c-c">
                    <i class="fa fa-bookmark-o" value="true"></i>
                </div>
                <div class="c-c">
                    <i class="fa fa-commenting-o" value="false"></i>
                </div>
            </div>
            <div class="title">
                <h1>这里是文章标题</h1>
                <p>这里是文章发布时间</p>
            </div>
            <div class="content">
                这里是文章内容这里是文章内容这里是文章内容这里是文章内容这里是文章内容 这里是文章内容这里是文章内容这里是文章内容这里是文章内容这里是文章内容。 这里是文章内容这里是文章内容这里是文章内容这里是文章内容这里是文章内容。 这里是文章内容这里是文章内容这里是文章内容这里是文章内容这里是文章内容
                这里是文章内容这里是文章内容这里是文章内容这里是文章内容这里是文章内容 这里是文章内容这里是文章内容这里是文章内容这里是文章内容这里是文章内容。 这里是文章内容这里是文章内容这里是文章内容这里是文章内容这里是文章内容
                这里是文章内容这里是文章内容这里是文章内容这里是文章内容这里是文章内容 这里是文章内容这里是文章内容这里是文章内容这里是文章内容这里是文章内容 这里是文章内容这里是文章内容这里是文章内容这里是文章内容这里是文章内容
                这里是文章内容这里是文章内容这里是文章内容这里是文章内容这里是文章内容。 这里是文章内容这里是文章内容这里是文章内容这里是文章内容这里是文章内容 这里是文章内容这里是文章内容这里是文章内容这里是文章内容这里是文章内容
                这里是文章内容这里是文章内容这里是文章内容这里是文章内容这里是文章内容 这里是文章内容这里是文章内容这里是文章内容这里是文章内容这里是文章内容。 这里是文章内容这里是文章内容这里是文章内容这里是文章内容这里是文章内容。
            </div>
        </div>
        <div class="left">
            <p>这里放用户</p>
        </div>
    </div>
    <script src="../public/javascripts/plugins/jquery-1.11.1.min.js"></script>
    <script src="../public/javascripts/articlepage.js"></script>
</body>

</html>