<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>博客</title>
    <link rel="stylesheet" href="stylesheets/base.css">
    <link rel="stylesheet" href="stylesheets/public.css">
    <link rel="stylesheet" href="stylesheets/bloglist.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <nav>
        <div class="logo"><img src="images/yearlogo2.png" alt=""></div>
        <div class="user">
            <i class="fa fa-user-circle-o"></i> &nbsp;
            <span>username</span>
            <div class="operating hide">
                <ul>
                    <li class="personal-center">个人中心</li>
                    <li class="writeblog">写博客</li>
                    <li>退出登录</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="head">
        <div class="username article-title">xxx的博客</div>
        <p class="username">发布时间:</p>
        <div class="username uploadtime">time</div>
    </div>
    <div class="container">
        <!-- <div class="tabs clearfix">
            <div class="article clicked">发布的文章</div>
            <div class="source">发布的资源</div>
        </div> -->
        <div class="content">
            <!-- <div class="article show">
                <ul>
                    <li>文章标题</li>
                </ul>
            </div> -->
            <!-- <div class="source hide">
                <ul>
                    <li>资源标题</li>
                </ul>
            </div> -->
        </div>
    </div>
    <script src="javascripts/plugins/jquery-1.11.1.min.js"></script>
    <script src="javascripts/public.js"></script>
    <script src="javascripts/articledetail.js"></script>
</body>

</html>