<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>xxx的博客</title>
    <link rel="stylesheet" href="../public/stylesheets/base.css">
    <link rel="stylesheet" href="../public/stylesheets/public.css">
    <link rel="stylesheet" href="../public/stylesheets/bloglist.css">
</head>
<body>
<nav></nav>
<div class="head">
    <div class="username">xxx的博客</div>
</div>
<div class="container">
    <div class="tabs clearfix">
        <div class="article clicked">发布的文章</div>
        <div class="source">发布的资源</div>
    </div>
    <div class="content">
        <div class="article show">
            <ul>
                <li>文章标题</li>
            </ul>
        </div>
        <div class="source hide">
            <ul>
                <li>资源标题</li>
            </ul>
        </div>
    </div>
</div>
<script src="../public/javascripts/plugins/jquery-1.11.1.min.js"></script>
<script src="../public/javascripts/bloglist.js"></script>
</body>
</html>