<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer" />
    <title>IT资源大本营</title>
    <link rel="stylesheet" href="../public/stylesheets/base.css">
    <link rel="stylesheet" href="../public/stylesheets/public.css">
    <link rel="stylesheet" href="../public/stylesheets/sourceBaseCamp.css">
</head>

<body>
    <nav>
        <span>推荐</span>
        <span>下载</span>
    </nav>
    <div class="container">
        <div class="left">
            <div class="top">
                <span>关键字:</span>
                <input type="text">
                <button>搜索</button>
            </div>
            <div class="source-list">
                <ul>
                    <li class="clearfix">
                        <div class="li-left">
                            <img src="//csdnimg.cn/release/download/old_static/images/minetype/unkonw.svg" alt="">
                        </div>
                        <div class="li-right">
                            <h3>这里是资源标题</h3>
                            <div class="details clearfix">
                                <p>资源大小:
                                    <span class="source-size">2314</span>
                                </p>
                                <p>上传时间:
                                    <span class="upload-time">23424</span>
                                </p>
                                <p>上传者:
                                    <span class="uploader">5642</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>2</li>
                </ul>
            </div>
        </div>
        <div class="right">

        </div>
    </div>
</body>

</html>