<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer" />
    <title>IT资源大本营</title>
    <link rel="stylesheet" href="stylesheets/base.css">
    <link rel="stylesheet" href="stylesheets/public.css">
    <link rel="stylesheet" href="stylesheets/sourceBaseCamp.css">
    <link rel="stylesheet" href="stylesheets/font-awesome-4.7.0/css/font-awesome.css">
</head>

<body>
<nav class="clearfix">
    <div class="logo">
        <img src="images/yearlogo2.png" alt="">
    </div>
    <span>推荐</span>
    <span class="d-source">资源大本营</span>
    <div class="lo-re show">
        <a href="/login" id="login">登录</a>
        <a href="/register" id="register">注册</a>
    </div>
    <div class="user hide">
        <i class="fa fa-user-circle-o"></i> &nbsp;
        <span>username</span>
        <div class="operating hide">
            <ul>
                <li class="personal-center">个人中心</li>
                <li class="writeblog">写博客</li>
                <!--<li class="myblog">我的博客</li>-->
                <li>退出登录</li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
        <div class="left">
            <!--<div class="top">-->
                <!--<span>关键字:</span>-->
                <!--<input type="text">-->
                <!--<button>搜索</button>-->
            <!--</div>-->
            <div class="source-list">
                <ul>
                    <!--<li class="clearfix">-->
                       <!--<div class="title">123</div>-->
                        <!--<div class="detail">-->
                            <!--<span class="author">123</span>-->
                            <!--<span class="uploadtime">123</span>-->
                        <!--</div>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
    </div>

<script src="javascripts/plugins/jquery-1.11.1.min.js"></script>
<script src="javascripts/public.js"></script>
<script src="javascripts/sourceBaseCamp.js"></script>
</body>

</html>