.left{
    width: 19%;
    background: #fff;
    float: left;
}
.left ul{
    width: 100%;

}
.left ul li{
    /* padding-left: 10px; */
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
}
.left ul li:hover{
    background: red;
    color: white;
}
.active{
    background: red;
    color: white;
}
.right{
    width: 80%;
    padding: 20px;
    background: #fff;
    margin-left: 3px;
    float: left;
    box-sizing: border-box;
}
.right .box-title{
    border-left: 2px solid #C92027;
    padding-left:7px;

}
.right .box{
    margin-top: 15px;
}
.write-blog input{
    width: 80%;
    height: 40px;
    padding:0 10px;
    background: #efefef;
}
.write-blog textarea{
    width: 80%;
    padding:10px;
    margin-top: 10px;
    border: 1px solid #ddd;
}
.write-blog button{
    margin-top: 20px;
    margin-left:20px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    color:white;
    background: #C92027;
    cursor: pointer;
}
.manage{
    margin-top: 15px;
}
.manage p{
    margin-right: 20px;
    color:#999;
    padding: 10px 0;
    float: left;
    cursor: pointer;
}
.manage .int{
    margin: 10px 0 0 10px;
    padding: 5px 0 5px 5px;
    border:1px solid #ddd;
    background: #b9b5ae;
    float: left;
}
.manage .int .searchIcon{
    color: white;
    cursor: pointer;
}
.manage .int input{
    background: #b9b5ae;
}
.word-active{
    color: black !important;
    border-bottom:3px solid #C92027;
}
.article-table{
    width: 100%;
    border: 2px solid #0c799a;
}
.article-table tr{
    width:100%;
}
.article-table th,td{
    width: 33.33%;
    border:1px solid #ddd;
}
.article-table .edit{
    width: 20%;
    height: 30px;
    border-radius: 5px;
    color:white;
    background: rgb(16, 141, 43);
    cursor: pointer;
}
.article-table .title{
    cursor: pointer;
}
.article-table .delete{
    width: 20%;
    height: 30px;
    margin-left: 10px;
    border-radius: 5px;
    color:white;
    background: rgb(153, 15, 15);
    cursor: pointer;
}
.center{
    text-align: center;
}

