.source-list li{
    border-bottom: 1px dotted gray;
    padding: 5px 5px;
    cursor: pointer;
}
.title{
    font-size: 18px;
    font-weight: bold;
}
.detail{
    color: #8d8d8d;
}
.detail .uploadtime{
    margin-left: 15px;
}