.contain {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 30px;
  background: #fff;
}
.contain form {
  width: 90%;
  margin: 0 auto;
}
.contain form .title {
  padding: 10px 1px;
  border-bottom: solid 1px #e6e6e6;
}
.contain form .uploadfile {
  margin-top: 20px;
  margin-left: 20px;
}
.contain form .uploadfile .choose_intro {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
  position: relative;
}
.contain form .uploadfile .choose_intro .choose_file_btn {
  display: block;
  width: 93px;
  height: 28px;
  line-height: 28px;
  background: #e33f3f;
  font-size: 14px;
  color: #fff;
  text-align: center;
  border-radius: 20px;
}
.contain form .uploadfile .choose_intro .file {
  position: absolute;
  top: 0;
  left: 0;
  width: 95px;
  height: 28px;
  opacity: 0;
}
.contain form .uploadfile .choose_intro em {
  text-align: center;
  display: block;
  font-size: 12px;
  color: #999;
  padding: 10px 0 5px;
}
.contain form ul {
  margin-top: 15px;
}
.contain form ul li {
  margin-top: 20px;
}
.contain form ul li label {
  display: inline-block;
  width: 120px;
  text-align: right;
}
.contain form ul li .type_name {
  width: 560px;
  height: 30px;
  border: 1px solid #eee;
  background: #f7f8f9;
  padding: 0 10px;
}
.contain form ul li .file_type {
  width: 140px;
  height: 30px;
  border: 1px solid #eee;
  background: #f7f8f9;
  padding: 0 10px;
  margin-right: 10px;
}
.contain form ul li textarea {
  width: 560px;
  height: 60px;
  padding: 5px 10px;
  resize: none;
  border: 1px solid #eee;
  vertical-align: top;
  background: #f7f8f9;
}
.contain .btn {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}
.contain .btn .submit {
  display: inline-block;
  padding: 0 30px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #fff;
  border-radius: 20px;
  border: none;
  outline: 0;
  background: #e33f3f;
  cursor: pointer;
}
